#formulario, #divResultado{
     width: 50%;
     margin: 0 auto;
     border: 1px solid darkcyan;
     text-align: center;

}
#divResultado{
    font-size: 60px;


}

.cuadrado{

    margin: 20px;

}

.boton{

height: 70px;
width: 70px;
background-color:black;
color:white;


}